@import "tailwindcss";
@import 'react-toastify/dist/ReactToastify.css';

::selection {
	background: rgb(177, 236, 211);
}

a {
	color: #14b8a6
}

a:hover {
	color: #5eead4
}

a:visited {
	color: #134e4a
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}